@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Proxima Nova', sans-serif;
  line-height: 1.3125;
}

button {
  border: none;
}

@keyframes beacon__circleExpand {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  95% {
    opacity: 0.1;
    transform: scale(3.75);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}
